.movie-card {
    transition: border 0.3s, filter 0.3s;
    cursor: pointer;
}

.movie-card img {
    border-radius: .5em;
    border: 1px solid var(--mud-palette-primary);
}

.movie-card:hover img {
    filter: brightness(80%);
    border: 2px solid var(--mud-palette-primary);
}

.movie-details img {
    border-radius: .5em;
    border: 1px solid var(--mud-palette-primary);
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 216px);
    justify-content: space-between;
}